
.video-overlay{
	width: 100%;
	background:url("../images/video-bgd.png") center center;
	height: 350px;
	background-size: cover;
	position: absolute;
	opacity:1;
	display: flex;
	align-items: center;
	transition: opacity 1s ease;
	color: $white;

	@include media('<desktop') { 
		height: 550px;
	}
	
	&.clicked{
		opacity:0;
		pointer-events: none;
	}
}
.col-text p {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 2.6rem;
}
.col-numbers {
	display: flex;
	justify-content: end;
	
}
.number-box {
	padding: 40px 70px 0 0px;

	@include media('<tablet') { 
		padding: 20px 25px 0 0px;
	}

	& h2 {
		font-weight: bold;
		font-size: 45px;

		@include media('<tablet') { 
			font-size: 25px;
		}
	}

	& p {
		font-size: 16px;
	}
}

.video-container {
	display: flex;
	flex-direction: row;
	align-items: center;

	@include media('<desktop') { 
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}
.video-btn {
	border: 1px solid;
	margin: 20px 0 0 0;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
#play-button { 
	background: url("../images/play-button.png")no-repeat center;
	width: 100px;
	height: 100px;
	background-size: cover;
	position: absolute;
	top: 45px;
	left: 38px;
	cursor: pointer;


}	
.player iframe {
	width: 100%;
	height: 350px;
	@include media('<desktop') { 
		height: 450px;
	}
}