/* Breakpoints
   ========================================================================== */

/**
 * Set breakpoints for @include media
 * Bootstrap breakpoints are set by deafult
 */

 $breakpoints: (
  phone: 320px,
  tablet: 750px,
  desktop: 1248px
);
$max-width: 1169px;
@include media('<tablet') {}
@include media('>=tablet', '<desktop') {}
@include media('>=desktop') {}
