/* Colors
   ========================================================================== */

/**
 * Set colors used in project. e.g $color-name: #hexvalue
 */

$white: #ffffff;
$Electric-Violet:#673DFC;
$Dusty-Gray: #999999;