p, h1, h2, h3, h4, h5, h6 {
	font-family:$font-roboto;
	margin: 0px;
	padding: 0px;
}
p {
	font-size: 16px;
	line-height: 28px;
}

h2 {
	font-size: 34px;
	letter-spacing: 3.4px;
	text-transform: uppercase;
}

h3 {
	color: black;
	 font-size: 24px;
}